@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default:true;
  --color-primary: #222831;
  --color-secondary: #393E46;
  --color-accent: #a39989;
  --color-neutral: #f0dab7;
  --color-theme: #fff;
  --color-info: #a3998980
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark:true;
  --color-primary: #f0dab7;
  --color-secondary: #a39989;
  --color-accent: #393E46;
  --color-neutral: #222831;
  --color-theme: #222831;
  --color-info: #393E46
}